<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='stylesheets/webfont.css' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />

    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <title>{{ page.title }}</title>
  </head>

  <body>
    <header>
      <div class="inner">
        <a class="title" href="/">
        <h1>avplayer 社区</h1></a>
        <h2>中国技术第一的开源社区</h2>
        </a>

        <a href="{{ page.github }}" class="button"><small style="color:#FF0000">Follow me on</small>GitHub</a>
      </div>
    </header>

    <div id="content-wrapper">
      <div class="inner clearfix">
      <section id="main-content">
         {{ content }}
       </section>
	<aside id="sidebar">
	<div id="maillist">
	    <script >var nId = "2ff2ad92ab814f4b64a9e7e4132d21a9bca703bc88c2daa9",nWidth="auto",sColor="light",sText="订阅我们的邮件列表参与讨论 <p><a href=\"\/whatismaillist.html\">什么是邮件列表?</a></p> 在下面输入你的邮箱点击订阅" ;</script>
	    <a href="http://mailman.avplayer.org/mailman/listinfo/list"></a>
	</div>
	<iframe width="100%" height="800" class="course"  frameborder="0" scrolling="no" src="classes.html"></iframe>
	</aside>
      </div>
    </div>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-42717099-2', 'avplayer.org');
  ga('send', 'pageview');

</script>
  </body>
</html>

